<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
<p>
I’m a Computer Science MSc student at the Institute of Mathematics and Statistics of the University of São Paulo (IME-USP). I hold a BSc in Computer Science in 2012 from the Federal University of Bahia (UFBA), where I have also served as a temporary professor of numerical analysis.
</p>
<p>
Before starting my MSc studies I have worked using and developing different free software projects. I have coordinated the front-end team to develop the Software Publico Brasileiro portal and I was a front-end developer of the Noosfero social networking platform at Colivre. In 2013, I also participated in the Outreach Program For Women, contributing to Gedit/GNOME project - see my posts in my old blog.
</p>
<p>
In 2019, I became part of the FLUSP group and started to learn how contribute to the Linux kernel project. I still have basic development skills and I am contributing to the IIO Subsystem and now the DRM susbystem.
</p>
<p>
The research project of my MSc studies is about the Linux Kernel Development and Community. My areas of interest include Software Engineering and Free Software Development.
</p>
</div>
