<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
<p>
I’m a software engineer and <a href="https://www.igalia.com/team/mwen">GPU driver developer at Igalia</a>, a free software consultancy full of excellent professionals and inspiring values and structure. I devote most of my time hacking drivers in the Linux kernel DRM subsystem, but also mentoring newcomers and meeting colleagues in related conferences. I'm a member of XOrg Foundation where I was a mentee and mentor in GPU kernel-driver development projects. I have a Computer Science MSc degree from the Institute of Mathematics and Statistics of the University of São Paulo (IME-USP) - 2021. I hold a BSc in Computer Science in 2012 from the Federal University of Bahia (UFBA), where I have also served as a temporary professor of numerical analysis.
</p>
<p>
Before starting my MSc studies I have worked using and developing different free software projects. I have coordinated the front-end team to develop the Software Publico Brasileiro portal and I was a front-end developer of the Noosfero social networking platform at Colivre. In 2013, I also participated in the Outreach Program For Women, contributing to Gedit/GNOME project.
In 2019, I became part of the FLUSP group and started to learn how contribute to the Linux kernel project and participated in the Google Summer of Code 2020 in a project to improve the VKMS GPU driver using IGT GPU Tools.
</p>
<p>
I'm also a researcher of the Linux Kernel development practices and community interactions. My areas of interest include Software Engineering and Free Software Development.
</p>
</div>
